TOGGL_API_KEY=
TOGGL_WORKSPACE=
JIRA_USERNAME=
JIRA_API_TOKEN=
BASE_URL=https://something.atlassian.net/rest/api/2
DB_DATABASE=jiggl
DB_USERNAME=jiggluser
DB_PASSWORD=jigglpassword
DB_DIALECT=postgres
DB_HOST=localhost
DB_STORAGE=
TIMEZONE=Australia/Melbourne
DAY_START=06:00
